# Ignore IDE and system configurations
.git/
.github/
.idea/
.vscode/
*.md

# Ignore built class files and temporary Maven outputs (only keep the final JAR)
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/
target/*.original
